[submodule "10-ks8-packaging/01-helm/02-prometheus/prometheus"]
	path = 10-ks8-packaging/01-helm/02-prometheus/prometheus
	url = https://github.com/Pamir/devfestistanbul2018
[submodule "10-ks8-packaging/01-helm/04-repo/helm-gcs"]
	path = 10-ks8-packaging/01-helm/04-repo/helm-gcs
	url = https://github.com/viglesiasce/helm-gcs
